downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.tox/
.nox/
.coverage
.coverage.*
.cache
target/
ipython_config.py
ehthumbs.db
Thumbs.db
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg
MANIFEST
.venv
venv/
env/
ENV/
.env
.pytest_cache/
.coverage
*.cover
*.py,cover
htmlcov/
.tox/
.hypothesis/
__pypackages__/